{{!-- Display the list of not devoured burgers, the list of devoured burgers, and the Devour It! button for each not devoured burger. --}}
<li>
	{{burger_name}}
	{{#if devour}}
	<button class="change-devour btn btn-warning" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Devour It!{{/if}}
	</button>
	{{/if}}
</li>